*{
  padding: 0;
  margin: 0;
}

body{
  background-color: beige;
}

h1{
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  color: darkslategray;
  letter-spacing: 2px;
  font-weight: bold;
}

p1{
  text-align: center;
  color: darkslategray;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: Arial;
}

table{
  border-spacing: 0.5rem;
  border: 0px;
  table-layout: fixed;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

tr,
td{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial;
  border: 0px;
  width: 40px;
  height: 35px;
  background-color:grey;
}

h1:hover{
  color:green;
}

td:hover{
  background-color: darkslategray;
}


  
